<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./_share/metadata.ejs') %>
    <title>Car information portal</title>
    <%- include('./_share/stylesheets.ejs') %>
  </head>
  <body>
    <div class="wrapper">
      <%- include('./_share/navbar.ejs', Makes) %>
      <!-- <form method="post" action="/form"><input type="text" name='text' /><button type="submit">submit</button></form> -->
      <%- include('./_share/footer.ejs') %>
    </div>

    <%- include('./_share/javascripts.ejs') %>
  </body>
</html>
